.woocommerce {
    &.single-product {
        .clear::after,
        .clearfix:after,
        .container:after,
        .row:after {
            clear: unset;
            content: unset;
            display: table;
        }
        padding-bottom: 0;
        .woocommerce-message {
            display: none;
        }

        .shop-container {
            max-width: 1366px;
            font-family: Helvetica;
            margin: auto;
        }

        position: relative;
        .onsale {
            right: 0;
            left: auto;
        }

        .images {
            display: none;
            width: 100%;
            position: relative;
            a {
                outline: 0;

                img {
                    height: 394px;
                    width: 581px;
                    -o-object-fit: contain;
                    object-fit: contain;
                }
            }

            // css for gallery slider section
            .custom-width-thumb {
                .slider-for {
                    margin-inline: 10px;
                    margin-bottom: 10px;

                    .item a{
                        display: flex;
                        justify-content: center;
                    }
                }
                .item-inner {
                    a {
                        outline: 0;
                        @media (min-width: 991px) {
                            cursor: zoom-in;
                        }
                    }
                }
            }

            // gallery thumbnail preview nav width
            .custom-width-thumb,
            .custom-width {
                width: 100%;
                // margin-inline: 25px;
            }

            // slick slider common css
            .slick-slider {
                // nav slider
                &.slider-nav {
                    .slick-list {
                        .slick-track {
                            .item {
                                border: 1px solid transparent;
                                margin-inline: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                // width: 25% !important;
                                // background-color: #f0f0f0;
                                .item-img {
                                    width: 93px;
                                    height: 93px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    opacity: 0.5;
                                    // mix-blend-mode: multiply;
                                    @media (max-width: 768px) {
                                        width: 73px;
                                        height: 73px;
                                    }
                                }

                                &.slick-active {
                                    &:hover {
                                        border-color: rgba(0, 0, 0, 0.2);
                                    }
                                }

                                &.slick-current.slick-active {
                                    // background-color: #e2e2e2;
                                    border-color: #979797;
                                    opacity: 1;
                                    .item-img {
                                        opacity: 1;
                                    }
                                }

                                &:hover {
                                    .item-img {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    .slick-arrow {
                        &::before {
                            width: 20px;
                            height: 20px;
                            margin-block: 0;
                        }

                        @media (max-width: 991px) {
                            opacity: 1;
                        }
                    }
                }

                .slick-arrow {
                    width: 36px;
                    height: 100%;
                    display: block;
                    opacity: 0;
                    transition: all 0.6s;
                }

                .slick-prev {
                    left: 10px;
                }

                .slick-next {
                    right: 10px;
                }

                @media (min-width: 992px) {
                    .slick-prev {
                        transform: translate(-20px, -50%);
                    }

                    .slick-next {
                        transform: translate(20px, -50%);
                    }

                    &:hover .slick-arrow {
                        opacity: 1;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .woocommerce-variation.single_variation {
            height: 25px !important;
            display: block !important;
        }

        .wc-no-matching-variations.woocommerce-info {
            display: none !important;
        }

        .mfp-arrow {
            &.mfp-arrow-left,
            &.mfp-arrow-right {
                background: 0 0;
                top: 50%;
                margin-top: -50px;
                width: 70px;
                height: 100px;
                position: absolute;
                padding: 0 1.2em;
                &::before {
                    content: "";
                    top: 35px;
                    height: 30px;
                    width: 32px;
                    display: inline-block;
                    position: absolute;
                    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBQcm8gNi41LjIgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UgKENvbW1lcmNpYWwgTGljZW5zZSkgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTQ0MC42IDI3My40YzQuNy00LjUgNy40LTEwLjggNy40LTE3LjRzLTIuNy0xMi44LTcuNC0xNy40bC0xNzYtMTY4Yy05LjYtOS4yLTI0LjgtOC44LTMzLjkgLjhzLTguOCAyNC44IC44IDMzLjlMMzY0LjEgMjMyIDI0IDIzMmMtMTMuMyAwLTI0IDEwLjctMjQgMjRzMTAuNyAyNCAyNCAyNGwzNDAuMSAwTDIzMS40IDQwNi42Yy05LjYgOS4yLTkuOSAyNC4zLS44IDMzLjlzMjQuMyA5LjkgMzMuOSAuOGwxNzYtMTY4eiIvPjwvc3ZnPg==")
                        0 0 no-repeat;
                    background-color: transparent !important;
                    background-size: contain;
                    border: none;
                    margin: 0;
                    opacity: 1;
                }

                &::after {
                    display: none;
                }
            }

            &.mfp-arrow-right {
                right: 0;
                &::before {
                    right: 6px;
                    // background-position: -94px -44px;
                }
            }

            &.mfp-arrow-left {
                left: 0;
                &::before {
                    left: 6px;
                    transform: rotate(180deg);
                }
            }
        }

        .mfp-close {
            font-size: 21px;
            line-height: 20px;
            font-family: "inherit";
            margin: 0;
        }

        .mfp-ready button.mfp-close {
            display: block;
            cursor: pointer;
        }

        @media (min-width: 850px) {
            .mfp-content,
            .stuck,
            button.mfp-close {
                top: unset !important;
                right: 0;
                margin: 0;
            }
        }
    }
}

@media (min-width: 991px) {
    .logged-in {
        .mfp-bg,
        .mfp-wrap {
            top: 32px;
        }
    }
}

/* Shrink wrap strategy 1 */
// .easyzoom {
//     float: left;
// }
// .easyzoom img {
//     display: block;
// }

/* Shrink wrap strategy 2 */
// .easyzoom {
//     display: inline-block;
// }
// .easyzoom img {
//     vertical-align: bottom;
// }
